<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>online_course_management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddDataScience</display-name>
    <servlet-name>AddDataScience</servlet-name>
    <servlet-class>com.controller.AddDataScience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDataScience</servlet-name>
    <url-pattern>/AddDataScience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDataScienceAdmin</display-name>
    <servlet-name>ListDataScienceAdmin</servlet-name>
    <servlet-class>com.controller.ListDataScienceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDataScienceAdmin</servlet-name>
    <url-pattern>/ListDataScienceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDataScienceAdmin</display-name>
    <servlet-name>DeleteDataScienceAdmin</servlet-name>
    <servlet-class>com.controller.DeleteDataScienceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDataScienceAdmin</servlet-name>
    <url-pattern>/DeleteDataScienceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDataScienceAdmin</display-name>
    <servlet-name>EditDataScienceAdmin</servlet-name>
    <servlet-class>com.controller.EditDataScienceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDataScienceAdmin</servlet-name>
    <url-pattern>/EditDataScienceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataScienceAdmin</display-name>
    <servlet-name>UpdateDataScienceAdmin</servlet-name>
    <servlet-class>com.controller.UpdateDataScienceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataScienceAdmin</servlet-name>
    <url-pattern>/UpdateDataScienceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataScience</display-name>
    <servlet-name>UpdateDataScience</servlet-name>
    <servlet-class>com.controller.UpdateDataScience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataScience</servlet-name>
    <url-pattern>/UpdateDataScience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCyberSecurityAdmin</display-name>
    <servlet-name>ListCyberSecurityAdmin</servlet-name>
    <servlet-class>com.controller.ListCyberSecurityAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCyberSecurityAdmin</servlet-name>
    <url-pattern>/ListCyberSecurityAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCyberSecurityAdmin</display-name>
    <servlet-name>EditCyberSecurityAdmin</servlet-name>
    <servlet-class>com.controller.EditCyberSecurityAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCyberSecurityAdmin</servlet-name>
    <url-pattern>/EditCyberSecurityAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCyberSecurityAdmin</display-name>
    <servlet-name>UpdateCyberSecurityAdmin</servlet-name>
    <servlet-class>com.controller.UpdateCyberSecurityAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCyberSecurityAdmin</servlet-name>
    <url-pattern>/UpdateCyberSecurityAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCyberSecurityAdmin</display-name>
    <servlet-name>DeleteCyberSecurityAdmin</servlet-name>
    <servlet-class>com.controller.DeleteCyberSecurityAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCyberSecurityAdmin</servlet-name>
    <url-pattern>/DeleteCyberSecurityAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCyberSecurity</display-name>
    <servlet-name>AddCyberSecurity</servlet-name>
    <servlet-class>com.controller.AddCyberSecurity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCyberSecurity</servlet-name>
    <url-pattern>/AddCyberSecurity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListWebDevelopmentAdmin</display-name>
    <servlet-name>ListWebDevelopmentAdmin</servlet-name>
    <servlet-class>com.controller.ListWebDevelopmentAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListWebDevelopmentAdmin</servlet-name>
    <url-pattern>/ListWebDevelopmentAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditWebDevelopmentAdmin</display-name>
    <servlet-name>EditWebDevelopmentAdmin</servlet-name>
    <servlet-class>com.controller.EditWebDevelopmentAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWebDevelopmentAdmin</servlet-name>
    <url-pattern>/EditWebDevelopmentAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWebDevelopmentAdmin</display-name>
    <servlet-name>UpdateWebDevelopmentAdmin</servlet-name>
    <servlet-class>com.controller.UpdateWebDevelopmentAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWebDevelopmentAdmin</servlet-name>
    <url-pattern>/UpdateWebDevelopmentAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWebDevelopmentAdmin</display-name>
    <servlet-name>DeleteWebDevelopmentAdmin</servlet-name>
    <servlet-class>com.controller.DeleteWebDevelopmentAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWebDevelopmentAdmin</servlet-name>
    <url-pattern>/DeleteWebDevelopmentAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWebDevelopment</display-name>
    <servlet-name>AddWebDevelopment</servlet-name>
    <servlet-class>com.controller.AddWebDevelopment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWebDevelopment</servlet-name>
    <url-pattern>/AddWebDevelopment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countCyberSecurity</display-name>
    <servlet-name>countCyberSecurity</servlet-name>
    <servlet-class>com.controller.countCyberSecurity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countCyberSecurity</servlet-name>
    <url-pattern>/countCyberSecurity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countDataScience</display-name>
    <servlet-name>countDataScience</servlet-name>
    <servlet-class>com.controller.countDataScience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countDataScience</servlet-name>
    <url-pattern>/countDataScience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countCoure</display-name>
    <servlet-name>countCoure</servlet-name>
    <servlet-class>com.controller.countCoure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countCoure</servlet-name>
    <url-pattern>/countCoure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countcourseadmin</display-name>
    <servlet-name>countcourseadmin</servlet-name>
    <servlet-class>com.controller.countcourseadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countcourseadmin</servlet-name>
    <url-pattern>/countcourseadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUsers</display-name>
    <servlet-name>AddUsers</servlet-name>
    <servlet-class>com.controller.AddUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsers</servlet-name>
    <url-pattern>/AddUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDataScienceUser</display-name>
    <servlet-name>ListDataScienceUser</servlet-name>
    <servlet-class>com.controller.ListDataScienceUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDataScienceUser</servlet-name>
    <url-pattern>/ListDataScienceUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCyberSecurityUser</display-name>
    <servlet-name>ListCyberSecurityUser</servlet-name>
    <servlet-class>com.controller.ListCyberSecurityUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCyberSecurityUser</servlet-name>
    <url-pattern>/ListCyberSecurityUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListWebDevelopmentUser</display-name>
    <servlet-name>ListWebDevelopmentUser</servlet-name>
    <servlet-class>com.controller.ListWebDevelopmentUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListWebDevelopmentUser</servlet-name>
    <url-pattern>/ListWebDevelopmentUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUsers</display-name>
    <servlet-name>ListUsers</servlet-name>
    <servlet-class>com.controller.ListUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/ListUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartServlet</display-name>
    <servlet-name>AddtoCartServlet</servlet-name>
    <servlet-class>com.controller.AddtoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/AddtoCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartCyberSecurity</display-name>
    <servlet-name>AddtoCartCyberSecurity</servlet-name>
    <servlet-class>com.controller.AddtoCartCyberSecurity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartCyberSecurity</servlet-name>
    <url-pattern>/AddtoCartCyberSecurity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartWebDevelopment</display-name>
    <servlet-name>AddtoCartWebDevelopment</servlet-name>
    <servlet-class>com.controller.AddtoCartWebDevelopment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartWebDevelopment</servlet-name>
    <url-pattern>/AddtoCartWebDevelopment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartDataScience</display-name>
    <servlet-name>AddtoCartDataScience</servlet-name>
    <servlet-class>com.controller.AddtoCartDataScience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartDataScience</servlet-name>
    <url-pattern>/AddtoCartDataScience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartDS</display-name>
    <servlet-name>AddtoCartDS</servlet-name>
    <servlet-class>com.controller.AddtoCartDS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartDS</servlet-name>
    <url-pattern>/AddtoCartDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcartdatascience</display-name>
    <servlet-name>addcartdatascience</servlet-name>
    <servlet-class>com.controller.addcartdatascience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcartdatascience</servlet-name>
    <url-pattern>/addcartdatascience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDetailServlet</display-name>
    <servlet-name>CartDetailServlet</servlet-name>
    <servlet-class>com.controller.CartDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDetailServlet</servlet-name>
    <url-pattern>/CartDetailServlet</url-pattern>
  </servlet-mapping>
</web-app>